@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');
/* || RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    font: inherit;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* || VARIABLES */
:root{
    /* FONTS */
    --FF: 'Red Hat Display', sans-serif;
    --FF-HEADINGS: 'Red Hat Display', sans-serif;
    --FS: 15px;

    /* COLORS */
    --BGCOLOR:hsl(0, 0%, 95%);
    --BGCOLOR-SEDAN:hsl(31, 77%, 52%);
    --BGCOLOR-SUVS:hsl(184, 100%, 22%);
    --BGCOLOR-LUXURY:hsl(179, 100%, 13%);
    --COLOR-PARAGRAPHS:hsla(0, 0%, 100%, 0.75);
    --COLOR-HEADINGS:hsl(0, 0%, 95%);
    --BGCOLOR-BUTTON:hsl(0, 0%, 95%);
    --BGCOLOR-HOVER:hsl(0, 0%, 60%);

    /*BORDERS*/
    --BORDER-RADIUS-CONTAINER: 7px;
    --BORDER-RADIUS-BUTTON:30px;

    /* STANDARD PADDING*/
    --PADDING-SIDE: 15%;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;


}
    
/* || GENERAL STYLES */

html{
    font-size: var(--FS);
    font-family: var(--FF);
}

body{
    position: relative;
    min-height: 100vh;
    overflow: auto;
}

img{
    margin: var(--MARGIN);
   /*  padding-left: var(--PADDING-SIDE);*/
    padding-top: 3rem; 
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: var(--BORDER-RADIUS-CONTAINER);
   
}

.sedans{
    background-color: var(--BGCOLOR-SEDAN);
    padding-left: var(--PADDING-SIDE);
    padding-right: var(--PADDING-SIDE);
    position: relative;
}

.suvs{
    background-color: var(--BGCOLOR-SUVS);
    padding-left: var(--PADDING-SIDE);
    padding-right: var(--PADDING-SIDE);
    position: relative;
}

.luxury{
    background-color: var(--BGCOLOR-LUXURY);
    padding-left: var(--PADDING-SIDE);
    padding-right: var(--PADDING-SIDE);
    position: relative;
}

.item__text{
    color: var(--COLOR-PARAGRAPHS);
    font-weight: 400;
    padding-top: 3rem;
    line-height: 2rem;
}

.item__header{
    color: var(--COLOR-HEADINGS);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 1px; 
    display: inline-block;
    transform: scaleX(0.7) scaleY(1.8);
    transform-origin: left;
    padding-top: 0.8rem;
    
}

.item:last-child, .item__button {
    position: absolute;
    bottom: 3rem;
  }

  .item__button{
    background-color: var(--BGCOLOR-BUTTON);
    border-radius: var(--BORDER-RADIUS-BUTTON);
    width: 50%;
    height: 3.5rem;
    border: none;
font-size: 1.2rem;
transition: transform 0.2s ease-in-out;
  }

.sedans .item__button{
    color: var(--BGCOLOR-SEDAN);
}
.suvs .item__button{
    color: var(--BGCOLOR-SUVS);
}
.luxury .item__button{
    color: var(--BGCOLOR-LUXURY);
}

.item__button:hover, .item__button:focus-visible{
 background-color: var(--BGCOLOR-HOVER);
 transform: scale(1.1);
}

footer{
    
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: aqua;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  
}

@media screen and (max-width: 768px){
    .container{
        grid-template-columns: 1fr; /* switch to a single column layout */
      grid-template-rows: 1fr 1fr 1fr;
      height: auto;
    }

    .container > div {
        height: 500px;
        
    }


    
}